<!DOCTYPE html>
<html>
  <head>
    <title>Testpagina parser</title>
    <script data-require="moment.js@2.22.2" data-semver="2.22.2" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script>        
    var app = angular.module("app", []);
      app.controller('MainController', function ($scope, $http) {
          $scope.alleGewestWedstrijden = [];
          $http.get("http://localhost:3000/api/gewestWedstrijden").success(function (res) {
            $scope.alleGewestWedstrijden = res;
            });
          
          $scope.sportaS = [];
          $http.get("http://localhost:3000/api/sportaRankings").success(function (res) {
            $.each(JSON.parse(res), function (i, v) {
                if (v.name == 'HEREN 3B') {
                    $scope.sportaS = v.standing;
                    }
                });
            });
          
          $scope.alleSportaWedstrijden = [];
          $http.get("http://localhost:3000/api/sportaWedstrijden").success(function (res) {     
                $scope.alleSportaWedstrijden = JSON.parse(res);
                angular.forEach($scope.alleSportaWedstrijden, function(value,index){
                    var dateParts = value.date.split("/");
                    var timeParts = value.time.split(":");
                    var dateObj = new Date(dateParts[2], dateParts[1] -1,dateParts[0],timeParts[0], timeParts[1],0);
                    value.datetime = dateObj;
                })
            });
      });
        
    app.filter('orderObjectBy', function() {
      return function(items, field, reverse) {
        var filtered = [];
        angular.forEach(items, function(item) {
          filtered.push(item);
        });
        filtered.sort(function (a, b) {
          return (a[field] > b[field] ? 1 : -1);
        });
        if(reverse) filtered.reverse();
        return filtered;
      };
    });
        
    app.filter('trustAsHtml',['$sce', function($sce) {
    return function(text) {
      return $sce.trustAsHtml(text);
    };
    }]); 
    
    app.filter('recenteWedstrijden', function() {
      return function(items) {
          let recentvoorbij = moment().subtract(4, 'd');
          let nabijtoekomst = moment().add(7, 'd');
          
          return items.filter(function(item){
              return moment(item.datetime).isBetween(recentvoorbij, nabijtoekomst);
          })
      };
    });
    </script>
  </head>

    
<body ng-app="app" ng-controller="MainController">
   <h1>Sportatabel stand</h1>
        <div>
            <table class="sp-data-table">
                <tr><th>Plaats</th><th>Ploeg</th><th>W</th><th>3-0</th><th>3-1</th><th>3-2</th><th>2-3</th><th>1-3</th><th>0-3</th><th>WS</th><th>VS</th><th>FF</th><th>Punten</th></tr>
                <tr ng-repeat="ranking in sportaS | orderObjectBy: 'place' ">
                    <td>{{ranking.place}}</td><td>{{ranking.name}}</td><td>{{ranking.matches}}</td><td>{{ranking.custom_results["3/0"]}}</td><td>{{ranking.custom_results["3/1"]}}</td><td>{{ranking.custom_results["3/2"]}}</td><td>{{ranking.custom_results["2/3"]}}</td><td>{{ranking.custom_results["1/3"]}}</td><td>{{ranking.custom_results["0/3"]}}</td><td>{{ranking.score}}</td><td>{{ranking.counterscore}}</td><td>{{ranking.forfait}}</td><td>{{ranking.points}}</td>
                </tr>
            </table>
        </div>


    <h1>Volleyscores alle wedstrijden</h1>
    <div class="sp-scrollable-table-wrapper">
    <table class="sp-data-table">
        <tr><th>Datum - tijdstip</th><th>Competitie</th><th>Wedstrijd</th><th>Uitslag</th><th>Plaats</th></tr>
        <tr ng-repeat="match in alleGewestWedstrijden | orderObjectBy: 'datetime' | recenteWedstrijden">
            <td>{{match.datetime | date:'dd-MM-yyyy H:mm' : 'CET'}}</td><td>{{match.division}}</td><td><span>{{match.team_home}}</span> - <span>{{match.team_away}}</span></td><td>{{match.result}}</td><td>{{match.location}}</td>
        </tr>
    </table>
    </div>
    
    <h1>Sporta alle wedstrijden</h1>
    <div class="sp-scrollable-table-wrapper">
            <table class="sp-data-table">
                <tr><th>Datum - tijdstip</th><th>Competitie</th><th>Wedstrijd</th><th>Uitslag</th><th>Plaats</th></tr>
                <tr ng-repeat="match in alleSportaWedstrijden | orderObjectBy: 'datetime' | recenteWedstrijden">
                    <td>{{match.datetime | date:'dd-MM-yyyy H:mm' : 'CET'}}</td><td ng-bind-html='match.division|trustAsHtml'>{{match.division}}</td><td><span ng-bind-html='match.team_home|trustAsHtml'>{{match.team_home}}</span> - <span ng-bind-html='match.team_away|trustAsHtml'>{{match.team_away}}</span></td><td ng-bind-html='match.result|trustAsHtml'>{{match.result}}</td><td>{{match.location}}</td>
                </tr>
            </table>
        </div>
    
    <h1>Alle alle wedstrijden</h1>
        <div class="sp-scrollable-table-wrapper">
            <div>Sporta wedstrijden</div>
            <table class="sp-data-table">
                <tr><th>Datum - tijdstip</th><th>Competitie</th><th>Wedstrijd</th><th>Uitslag</th></tr>
                <tr ng-repeat="match in alleSportaWedstrijden | orderObjectBy: 'datetime' | recenteWedstrijden">
                    <td>{{match.datetime | date:'dd-MM-yyyy H:mm' : 'CET'}}</td><td ng-bind-html='match.division|trustAsHtml'>{{match.division}}</td><td><span ng-bind-html='match.team_home|trustAsHtml'>{{match.team_home}}</span> - <span ng-bind-html='match.team_away|trustAsHtml'>{{match.team_away}}</span></td><td ng-bind-html='match.result|trustAsHtml'>{{match.result}}</td>
                </tr>

                <tr ng-repeat="match in alleGewestWedstrijden | orderObjectBy: 'datetime' | recenteWedstrijden">
                    <td>{{match.datetime | date:'dd-MM-yyyy H:mm' : 'CET'}}</td><td>{{match.division}}</td><td><span>{{match.team_home}}</span> - <span>{{match.team_away}}</span></td><td>{{match.result}}</td>
                </tr>
            </table>
        </div>
</body>
</html>